main
  .img-wrapper
    text-align: center

    img
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5)
      width: 80%
      text-align: center
    @media screen and (max-width: 768px)
      img
        width: 100%
        box-shadow: none

  .code-wrapper
    position: relative
    background-color: #ffffff
    padding: 3.25em 1.5em 1.25em 1.5em
    word-wrap: break-word
    color: #4a4a4a
    font-family: monospace
    font-size: .875em
    font-weight: normal

    button
      position: absolute
      top: 0
      right: 0
      background-color: #f1f1f1
      border: 1px solid #ccc
      padding: 8px 16px
